*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
    width: auto;
    height: 100vh;
}


.nav-cont{
    background-color: #407BFF;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    
}

.nav-cont h1{
    color: white;
    font-size: 23px;
}

.nav-cont-h2{
    display: flex;
    gap: 30px;
}

.nav-cont-h2 h2{
    color: white;
    font-size: 20px;
}

.cont-img{
    width: 500px;
    height: 500px;
}

.cont-img img{
    width: 500px;
    height: 500px;
}

main{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-container-slice{
    border-radius: 8px;
    width: 90%;
    background-color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-cont{
    margin-top: 40px;    
}


